* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
button {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: black;
}

img {
	width: 100%;
}

h1 {
	font-size: 3.5rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
}

h2 {
	font-size: 2rem;
	font-weight: 400;
}

h3 {
	font-size: 2.1rem;
}

h4 {
	font-size: 1.5rem;
}

.mb {
	margin-bottom: 1.2rem;
}

.id {
	color: #555555;
}

.text {
	margin-top: 1.2rem;
	font-size: 1.2rem;
	font-weight: bold;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0 0.5rem;
	font-size: 1.2rem;
	align-items: center;
}

.main-nav ul {
	display: flex;
	list-style: none;
}

.main-nav ul li {
	margin-left: 15px;
}

.main-nav a {
	padding: 0.5rem;
}

.main-nav a:hover {
	color: #525252;
	border: 0.05rem solid #525252;
	border-radius: 0.25rem;
}

.intro {
	display: grid;
	grid-template-columns: 45% 55%;
	gap: 1rem;
	margin: 1rem;
}

.intro .intro-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 2rem;
}

.about-me {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	gap: 1rem;
	margin: 3rem 0;
	padding: 3rem 2rem;
	background: #f5f5f5;
}

.about-me .sub {
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: center;
	align-items: center;
}

.about-me .sub h4 {
	width: 100%;
	margin-bottom: 0.3rem;
}

.about-me .sub p {
	font-size: 1rem;
}

.skills {
	display: grid;
	grid-template-columns: 55% 45%;
	gap: 0.75rem;
	margin: 3rem 0;
	padding: 3rem 2rem;
	background: #f5f5f5;
}

.skills .sub {
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: center;
	align-items: center;
}

.skills .sub h4 {
	width: 100%;
	margin-bottom: 0.3rem;
}

.skills .sub p {
	font-size: 1rem;
}

.contact-me {
	display: flex;
	background: #f5f5f5;
	margin: 3rem 0;
	padding: 5rem 5rem;
}

.contact-me button {
	color: #525252;
	background-color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.95rem;
	font-weight: 400;
	padding: 0.5rem;
	border: 0.05rem solid #525252;
	border-radius: 0.2rem;
	cursor: pointer;
}

.contact-me button:hover {
	background: #525252;
	color: #fff;
	font-weight: 300;
}

.contact-me .contact {
	flex: 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 3rem;
}

.contact-me .contact h3,
.contact-me .contact p,
.contact-me .contact .info {
	margin-bottom: 3rem;
}

.contact-me .contact .info p {
	margin-bottom: 0.3rem;
}

.contact-me .contact > p {
	font-size: 1.2rem;
}

.contact-me .form {
	flex: 5;
	display: flex;
	flex-direction: column;
}

.field {
	margin-bottom: 1rem;
	text-align: left;
}

.field label {
	font-size: 0.75rem;
	margin-bottom: 0.25rem;
	line-height: 2.7;
	font-weight: 700;
	color: #000;
}

.field input,
.field input:focus,
.field select,
textarea {
	color: #5e4545;
	font-family: "Montserrat", sans-serif;
	border: 0.032rem solid #525252;
	border-radius: 0.25rem;
	background: #ffffff;
	padding: 1rem;
	width: 100%;
	line-height: 1rem;
	outline: none;
}

.field input::placeholder,
textarea::placeholder,
.field input::selection {
	font-family: "Montserrat", sans-serif;
	color: #525252;
	font-weight: 500;
	font-size: 0.85rem;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5rem 0rem;
}

.footer .social {
	padding-top: 15px;
	padding-bottom: 1rem;
	display: flex;
	justify-content: space-evenly;
}

.footer .social .fab:hover,
.footer .social .far:hover {
	color: #525252;
}

@media (max-width: 1000px) {
	h1 {
		font-size: 2.5rem;
		letter-spacing: normal;
	}

	h2 {
		font-size: 1.75rem;
	}

	.container {
		width: 85%;
	}
	
	.intro {
		display: grid;
		grid-template-columns: 40% 60%;
		gap: 1rem;
		margin: 1rem;
	}

	.about-me {
		padding-left: 1rem;
	}

	.about-me p {
		font-size: 1.05rem;
		grid-template-columns: 34% 31% 34%
	}

	.about-me .sub p {
		font-size: 0.95rem;
	}
}

@media (max-width: 700px) {
	h1 {
		font-size: 3rem;
		letter-spacing: normal;
	}

	h2 {
		font-size: 1.75rem;
	}

	.container {
		width: 90%;
	}

	.text {
		margin-top: 0.75rem;
	}

	.intro {
		display: flex;
		flex-direction: column;
		margin: 2rem 0;
	}

	.intro .intro-text {
		order: 1;
		padding: 0;
		align-items: start;
	}

	.intro .img {
		order: 2;
	}

	.about-me {
		display: flex;
		flex-direction: column;
	}

	.about-me .main,
	.about-me .sub {
		margin-bottom: 2rem;
	}

	.skills {
		display: flex;
		flex-direction: column;
	}

	.skills .sub {
		margin-top: 1rem;
	}

	.contact-me {
		flex-direction: column;
		padding: 3rem 2rem;
	}

	.contact-me .contact h3,
	.contact-me .contact p,
	.contact-me .contact .info {
		margin-bottom: 1rem;
	}

	.contact-me .contact {
		margin-bottom: 2rem;
	}
}

@media (max-width: 600px) {
	h1 {
		font-size: 2.45rem;
	}

	h3 {
		font-size: 1.7rem;
	}

	nav > h4 {
		font-size: 1.2rem;
	}

	.main-nav a {
		font-size: 1.05rem;
		padding: 0.3rem;
	}

	.main-nav a:hover {
		color: #525252;
	}
}
